.login-form{
    border: 2px solid rgb(154, 154, 228);
    width:  30%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap:  20px;
    padding:  30px 20px;

}
.login-form>h1{
    text-align:  center;
    color: rgb(122, 122, 230);
}
.login-form>input{
    padding: 10px;
    font-size: 15px;
    border: 2px solid rgb(154, 154, 228);

}
.login-btn{
    color: rgb(97, 97, 192);
    font-weight: 600;
    font-size: 1.5rem;

}