.navbar{
    background:linear-gradient(rgb(132, 187, 206),rgb(108, 108, 216));
    color: white;
    padding:  20px ;
    margin: 0px;
}.navbar>h2{
    text-align:  center;
}
.nav-link{
    text-decoration:  none;
    margin: 20px;
    font-size: 25px;
    

}
nav{
    display: flex;
    justify-content: space-between;
}
.log-btn{
   margin-right: 20px;
   font-size: 1.2rem;
   padding: 5px 15px;
   color: rgb(107, 107, 180);
   border: none;
   

}